<!--
 * @Author: your name
 * @Date: 2019-11-16 10:24:00
 * @LastEditTime: 2019-11-16 15:13:18
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mmail-fe\src\view\index.html
 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.js"
    integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script> -->
  <!-- <script type="text/javascript" src="../../dist/js/base.js"></script>
  <script type="text/javascript" src="../../dist/js/index.js"></script> -->

  <title>测试文件</title>
</head>

<body>
  <p id="btn"></p>
  <ol>
    <li>测试</li>
  </ol>
  <button id="btn2">添加列表项</button>
</body>

</html>